<!doctype html>

<html lang="{{ it.lang }}">
  <script type="text/javascript">
    const root = document.firstElementChild;
    const mediaQuery = "(prefers-color-scheme: dark)";
    const mediaMatch = window.matchMedia;
    const currentMode = mediaMatch(mediaQuery).matches;

    const storeTheme = (targetTheme) => {
      if ("boolean" === typeof targetTheme) {
        targetTheme = targetTheme ? "dark" : "light";
      }
      root.setAttribute("data-theme", targetTheme);
      localStorage.setItem("data-theme", targetTheme);
    };

    const storedTheme = ("data-theme" in localStorage)
      ? localStorage.getItem("data-theme")
      : currentMode;

    storedTheme && storeTheme(storedTheme);
  </script>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title || metas.title }} - {{ metas.site }}</title>

    <meta name="supported-color-schemes" content="light dark">
    {{# <meta name="theme-color" content="hsl(220, 20%, 100%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(220, 20%, 10%)" media="(prefers-color-scheme: dark)"> #}}
    
    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metas.site }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ metas.site }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="canonical" href="{{ url |> url(true) }}">
    <script src="/js/main.js" type="module"></script>
    {{ it.extra_head?.join("\n") }}
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="navbar-home">
        {{ if it.logo }}
          {{ it.logo }}
        {{# {{ else }}
          <strong>{{ metas.site }}</strong> #}}
        {{ /if }}
      </a>

      <ul class="navbar-links">
      {{- for entry of search.pages("menu.visible=true", "menu.order") }}
        <li>
          <a href="{{ entry.url }}"{{ if entry.url == url }} aria-current="page"{{ /if }}>
            {{ entry.menu.title || entry.title }}
          </a>
        </li>
      {{ /for }}
      {{- for link of it.menu_links }}
        <li>
          <a href="{{ link.href }}">
            {{ link.text }}
          </a>
        </li>
      {{ /for }}
      </ul>
    </nav>

    <main class="{{ it.bodyClass }}">
      {{ content }}
    </main>

    <div class="footer-container">
      <footer class="footer">
        <p class="footer-copyright">
          Crafted with ♥️ using <a href="https://lume.land/">Lume🔥</a>
          {{# — <button
              class="button-theme"
              id="switch-theme"
              title="Toggle light & dark theme"
              aria-label="auto"
              aria-live="polite"
            >
              <span class="is-light">Light theme</span>
              <span class="is-dark">Dark theme</span>
            </button> #}}
        </p>
      </footer>
    </div>

    <!-- Current page: {{ url }} -->
    <script type="text/javascript">
      window.addEventListener('DOMContentLoaded', () => {
        document.getElementById("switch-theme").addEventListener("click", (event) => {
          const currentTheme =
            localStorage.getItem("data-theme") == "light" || (getComputedStyle(root).getPropertyValue("color-scheme") == "light");
          storeTheme(!!currentTheme);
        });

        mediaMatch(mediaQuery).addEventListener("change", (event) => {
          storeTheme(event.matches);
        });

      }, false);
    </script>
  </body>
</html>
